<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Hom.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://kit.fontawesome.com/1572a930d7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header">
        <div class="container1">
            <nav>
                <img src="{{ url_for('static', filename='logo.png') }}" class="logo" alt="Logo">
                <ul id="sidemenu">
                    <li><a href="#">Home</a></li>
                    <li><a href="{{ url_for('streamlit_embed') }}">LinC Bot</a></li> 
                    <li><a href="#services">Explore</a></li>
                    <li><a href="#tools">Tools</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li id="auth-button">
                        {% if is_authenticated %}
                            <a href="{{ url_for('logout') }}">Logout</a>
                        {% else %}
                            <a href="{{ url_for('login') }}">Login/Register</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
  
 <!-- -------------services------------ -->

 <div id="services">
    <div class="container1">
        <h1 class="sub-title">Explore Opportunities</h1>
        <div class="services-list">
            <div>
                <i class="fa-solid fa-briefcase"></i>
                <h2>Part-Time Jobs</h2>
                <p>Explore various part-time job opportunities that fit your schedule and help you gain valuable work experience while you study.</p>
                <a href="/part-time-jobs">Apply now</a>
            </div>
            <div>
                <i class="fa-solid fa-laptop-code"></i>
                <h2>Freelancing</h2>
                <p>Find freelance projects that match your skills and interests, allowing you to work on your terms and build your portfolio.</p>
                <a href="/freelancing">Start freelancing</a>
            </div>
            <div>
                <i class="fa-solid fa-user-tie"></i>
                <h2>Career Counseling</h2>
                <p>Get personalized career advice and guidance to help you navigate your career path, improve your resume, and prepare for interviews.</p>
                <a href="/career-counseling">Get guidance</a>
            </div>
        </div>
    </div>
</div>

<!-- ---------------------- Tools ------------------------------ -->

<div id="tools">
    <div class="container1">
        <h1 class="sub-title">Tools & Resources</h1> 
        <div class="work-list">
            <!-- ATS System Tool -->
            <div class="work">
                <img src="/static/Images/ats.jpeg" alt="ATS System">
                
                <div class="layer">
                    <h3>ATS System</h3>
                    <p>Automate the resume screening process and match job descriptions with candidate profiles efficiently.</p>
                    <a href="{{ url_for('ats') }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>

            <div class="work">
                <img src="/static/Images/resumebuilder.jpeg" alt="Resume Builder">
                <div class="layer">
                    <h3>Resume Builder</h3>
                    <p>Create professional resumes with ease using our intuitive resume builder tool.</p>
                    <a href="{{ url_for('resume') }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        
            <div class="work">
                <img src="/static/Images/jobtracking.jpeg" alt="Job Tracker">
                <div class="layer">
                    <h3>Job Tracker</h3>
                    <p>Keep track of your job applications and follow up on them with our job tracker tool.</p>
                    <a href="{{ url_for('ats') }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <a href="#" class="btn">Get Started</a>
    </div>
</div>


<!-- -------------contact------------ -->
<div id="contact">
    <div class="container1">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Us</h1>
                <p><i class="fa-solid fa-paper-plane"></i>22l31a5484@vignaniit.edu.in</p>
                <p><i class="fa-solid fa-square-phone"></i>7702853524</p>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/vishnu-vardhan-36848a275/"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://github.com/hello-mr-vishu"><i class="fa-brands fa-github"></i></a>
                    <a href="https://twitter.com/hello_mr_vishu"><i class="fa-brands fa-square-x-twitter"></i></a>
                    <a href="https://www.instagram.com/hello_mr.vishu/"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="https://www.kaggle.com/vishnu80"><i class="fa-brands fa-kaggle"></i></a>
                </div>
                
            </div>
            <div class="contact-right">
                <form  method="POST" name="submit-to-google-sheet" id="contact-form">
                    <input type="hidden" name="access_key" value="11711a0b-bc53-47d7-bca9-225fd6f27f56">
                    <input type="text" name="Name" placeholder="Your Name" required>
                    <input type="email" name="Email" placeholder="Your Email" required>
                    <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2">Submit</button>
                    <div id="result"></div>
                </form>
                <span id="msg"></span>
            </div>
        </div>
    </div>
   
      <script>
        document.addEventListener('DOMContentLoaded', function() {
    const googleSheetURL = 'https://script.google.com/macros/s/AKfycbw-GUGjpFuzSZiMCTAUcmpx5X90zvVDzy_NaZd19pEqP8Iyi06VNdL8rs72nQyIufOuEA/exec';
    const web3FormsURL = 'https://api.web3forms.com/submit';
    const form = document.getElementById('contact-form');
    const result = document.getElementById('result');
    const msg = document.getElementById("msg");

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        const formData = new FormData(form);
        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);
        result.innerHTML = "Please wait...";
        msg.innerHTML = "Sending message...";

        // Submit to Google Sheets
        fetch(googleSheetURL, { method: 'POST', body: new FormData(form) })
            .then(response => {
                if (response.ok) {
                    msg.innerHTML = "Message sent to LinC successfully";
                } else {
                    msg.innerHTML = "Error sending message to LinC";
                }
                setTimeout(function() {
                    msg.innerHTML = "";
                }, 5000);
            })
            .catch(error => console.error('LinC Error!', error.message));

        // Submit to Web3Forms
        fetch(web3FormsURL, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: json
        })
        .then(async (response) => {
            let json = await response.json();
            if (response.status == 200) {
                result.innerHTML = "Form submitted successfully....! We'll get back to you soon";
            } else {
                console.log(response);
                result.innerHTML = json.message;
            }
        })
        .catch(error => {
            console.log(error);
            result.innerHTML = "Something went wrong!";
        })
        .then(function() {
            form.reset();
            setTimeout(() => {
                result.style.display = "none";
            }, 3000);
        });
    });
});

      </script>

</body>
</html>
